<h1> <%= @discussion.title %></h1>

<h3> <%= @discussion.description %></h3>


<h5> Comments?</h5>

<%= render 'comments/form' %>

<div id="comment_box">
  <% @comments.each do |comment| %>

    <%= render "comments/comment", comment: comment%>

  <% end %>
</div>
