<h1>Blog Project!</h1>

This is the about page of my blog project.  It will tell you about the blog project eventually.
<br>
Blog author: <strong>Murphy Stroppa</strong><br>
Location: <strong>Vancouver, BC, Canada</strong><br>
Email: <strong>murph33@gmail.com</strong><br>

<div><img src="http://i.imgur.com/FtVlYLX.jpg"/>
</div>
